<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
        <title>BenchVisualizer start page</title>
    </head>
    <body>

        <div class="page_head">
            <h2>BenchVisualizer</h2>
            <div class="menu_but">
            <button id="ModalBtn" class="btn btn-info btn-lg" onclick="window.location.assign('{% url 'visualizer:registerJobs' %}')">Register Jobs</button>
            </div>
        </div>


        <table class="table table-hover">
            <thead>
                <tr>
                    <td>Job Name</td>
                    <td>Description</td>
                    <td>Is Running</td>
                    <td>Is enabled</td>
                </tr>
            </thead>
            <tbody>
            {% for obj in server_jobs %}
                <tr onclick="window.location.assign('{% url 'visualizer:jobDetails' obj.name %}')">
                        <td>{{ obj.name }}</td>
                        <td>{{ obj.description }}</td>
                        <td>{{ obj.is_running }}</td>
                        <td>{{ obj.is_enabled }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </body>

    <footer>
        <center>
            <p>Current Version: 1.0 <br/> Created by Vasileios Tsarnas as part of the thesis "Design and implementation
            of a Quality Assurance framework for large-scale projects"</p>
        </center>
    </footer>

</html>