<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script src="/static/js/jobDetails.js"></script>
        <title>Details for Job: {{job_name}}</title>
    </head>

    <body>
        <div class="page_head">
            <h1>Details for Job: {{job_name}} -- Latest Build {{job_details.last_build_no}}</h1>
        </div>

        <center>
        <table>
            <tbody>
                <!-- SPECJVM stats -->
                <tr>
                    <td><div class="plot" id="tester" style="width:800px;height:500px;"></div></td>
                    <td>
                        <form action="{% url 'visualizer:raw' job_name 'specjvm' %}" method="post">
                            {% csrf_token %}
                            <table class="table-bordered">
                                <thead>
                                    <tr><td>Benchmark</td><td>Ops/min</td></tr>
                                </thead>
                                <tbody>
                                    {% for key,value in job_details.specjvm.items %}
                                        <tr><td>{{key}}</td><td id="{{key}}">{{value}}</td></tr>
                                        <input type="hidden" name="{{key}}" value="{{value}}"/>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <button type="submit" class="btn btn-info">Get raw data</button>
                        </form>
                    </td>
                </tr>
                <!-- DACAPO stats -->
                <tr class="separating_line">
                    <td><div class="plot" id="testerD" style="width:800px;height:500px;"></div></td>
                    <td>
                        <form action="{% url 'visualizer:raw' job_name 'dacapo' %}" method="post">
                            {% csrf_token %}
                            <table class="table-bordered">
                                <thead>
                                    <tr><td>Benchmark</td><td>Milliseconds</td></tr>
                                </thead>
                                <tbody>
                                    {% for key,value in job_details.dacapo.items %}
                                        <tr><td>{{key}}</td><td id="{{key}}">{{value}}</td></tr>
                                        <input type="hidden" name="{{key}}" value="{{value}}"/>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <button type="submit" class="btn btn-info">Get raw data</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>



        </center>
    </body>
</html>