<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script src="/static/js/jobDetails.js"></script>
        <title>Details for Job: {{job_name}}</title>
    </head>

    <body>
        <div class="page_head">
            <h2>Details for Job: {{job_name}}</h2>
            <div class="menu_but">
            <button type="button" class="btn btn-info btn-lg" onclick="window.location.assign('{% url 'visualizer:index' %}')">Home</button>
            <button id="ModalBtn" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#BuildModal">Select Builds</button>
            </div>
        </div>

        <!-- MODAL: Specific build selection window -->
        <div id="BuildModal" class="modal fade" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Specific Build selection</h4>
              </div>
                <!--Counts the current number of builds in the modal-->
                <input type="hidden" id="modal_no_bld" value="2"/>
                <form action="{% url 'visualizer:jobDetails' job_name %}" method="post">
                  {% csrf_token %}
                  <div class="modal-body">
                    <p>Please specify builds (benchmark sets) to compare.</p>
                    <button type="button" class="btn btn-info add_build">Add build</button>
                          <table class="padding_tbl" id="revision_input_table">
                              <tbody>
                                <tr>
                                    <td>Revision: </td>
                                    <td><input type="text" name="build_rev" maxlength="40" required/></td>
                                    <td>TAG: </td>
                                    <td><input type="text" name="build_tag" value="default" required/></td>
                                    <td><button type="button" class="btn delete_build">Delete</button></td>
                                </tr>
                                <tr>
                                    <td>Revision: </td>
                                    <td><input type="text" name="build_rev" maxlength="40" required/></td>
                                    <td>TAG: </td>
                                    <td><input type="text" name="build_tag" value="default" required/></td>
                                    <td><button type="button" class="btn delete_build">Delete</button></td>
                                </tr>
                              </tbody>
                          </table>

                  </div>
                  <div class="modal-footer">
                      <button type="submit" class="btn btn-info">Submit</button>
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </form>
            </div>

          </div>
        </div>
        <!-- END MODAL-->

        <center>
            <!-- get the number of benchmarks to compare from the controller -->
            <input type="hidden" id="no_bench" value="{{no_bench}}"/>
            <div>
                <table class="table-bordered padding_tbl">
                    <thead>
                    <tr>
                        <td>Number</td>
                        <td>Jenkins build</td>
                        <td>Git Revision</td>
                        <td>Tag</td>
                        <td>Timestamp (UTC)</td>
                    </tr>
                    </thead>
                    <tbody>
                        {% for benchmark in benchmarks %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td id="build{{forloop.counter}}">{{benchmark.specjvm.build_no}}</td>
                                <td id="rev{{forloop.counter}}">{{benchmark.specjvm.revision}}</td>
                                <td id="tag{{forloop.counter}}">{{benchmark.specjvm.details}}</td>
                                <td>{{benchmark.specjvm.timestamp}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </center>

        <!--<center>-->
        <table style="width: 100%;">
            <tbody>
                <!-- SPECJVM stats -->
                <tr>
                    <td><div class="plot" id="tester"></div></td>
                    <td>
                        <form action="{% url 'visualizer:raw' job_name 'specjvm' %}" method="post">
                            {% csrf_token %}
                            <div class = "benchmark-holder">
                                {% for benchmark in benchmarks %}
                                    {% with forloop.counter as i %}
                                        <table class="table-bordered padding_tbl">
                                            <thead>
                                                <tr>
                                                    {% if i == 1 %}
                                                        <td>Benchmark</td>
                                                    {% endif %}
                                                    <td>Ops/min (No.{{i}})</td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for key,value in benchmark.specjvm.items %}
                                                    {% if key not in hide_in_table %}
                                                        <tr>
                                                            {% if i == 1 %}
                                                                <td>{{key}}</td>
                                                            {% endif %}
                                                            <td id="{{key}}{{i}}">{{value}}</td>
                                                        </tr>
                                                    {% endif %}
                                                    <input type="hidden" name="{{key}}" value="{{value}}"/>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    {% endwith %}
                                {% endfor %}
                            </div>
                            <button type="submit" class="btn btn-info">Get raw data</button>
                        </form>
                    </td>
                </tr>
                <!-- DACAPO stats -->
                <tr>
                    <td><div class="plot" id="testerD"></div></td>
                    <td>
                        <form action="{% url 'visualizer:raw' job_name 'dacapo' %}" method="post">
                            {% csrf_token %}
                            <div class = "benchmark-holder">
                                {% for benchmark in benchmarks %}
                                    {% with forloop.counter as i %}
                                        <table class="table-bordered padding_tbl">
                                            <thead>
                                                <tr>
                                                    {% if i == 1 %}
                                                        <td>Benchmark</td>
                                                    {% endif %}
                                                    <td>Ops/min (No.{{i}})</td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for key,value in benchmark.dacapo.items %}
                                                    {% if key not in hide_in_table %}
                                                        <tr>
                                                            {% if i == 1 %}
                                                                <td>{{key}}</td>
                                                            {% endif %}
                                                            <td id="{{key}}{{i}}">{{value}}</td>
                                                        </tr>
                                                    {% endif %}
                                                    <input type="hidden" name="{{key}}" value="{{value}}"/>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    {% endwith %}
                                {% endfor %}
                            </div>
                            <button type="submit" class="btn btn-info">Get raw data</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>



        <!--</center>-->
    </body>
</html>