<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script src="/static/js/jobDetails.js"></script>
        <title>Details for Job: {{job_name}}</title>
    </head>

    <body>
        <div class="page_head">
            <h1>Details for Job: {{job_name}} -- Builds {{benchmarks.0.build_no}}, {{benchmarks.1.build_no}}</h1>
            <button id="ModalBtn" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#BuildModal">Select Builds</button>
        </div>

        <!-- Specific build selection window -->
        <div id="BuildModal" class="modal fade" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Specific Build selection</h4>
              </div>
                <form action="{% url 'visualizer:jobDetails' job_name %}" method="post">
                  {% csrf_token %}
                  <div class="modal-body">
                    <p>Please specify two builds to compare.</p>

                          <table>
                              <tbody>
                                <tr>
                                    <td>Build 1</td>
                                    <td><input type="text" name="build_rev1" required/></td>
                                </tr>
                                <tr>
                                    <td>Build 2</td>
                                    <td><input type="text" name="build_rev2" required/></td>
                                </tr>
                              </tbody>
                          </table>

                  </div>
                  <div class="modal-footer">
                      <button type="submit" class="btn btn-info">Submit</button>
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </form>
            </div>

          </div>
        </div>
        <center>
            <div>
                <table class="table-bordered">
                    <thead>
                    <tr><td>Build number</td><td>Git Revision</td></tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td id="build1">{{benchmarks.0.specjvm.build_no}}</td>
                            <td>{{benchmarks.0.specjvm.revision}}</td>
                        </tr>
                        <tr>
                            <td id="build2">{{benchmarks.1.specjvm.build_no}}</td>
                            <td>{{benchmarks.1.specjvm.revision}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </center>

        <!--<center>-->
        <table style="width: 100%">
            <tbody>
                <!-- SPECJVM stats -->
                <tr>
                    <td><div class="plot" id="tester" style="width:800px;height:500px;"></div></td>
                    <td>
                        <form action="{% url 'visualizer:raw' job_name 'specjvm' %}" method="post">
                            {% csrf_token %}
                            <div class = "benchmark-holder">
                                <table class="table-bordered">
                                    <thead>
                                        <tr><td>Benchmark</td><td>Ops/min (No.{{benchmarks.0.specjvm.build_no}})</td></tr>
                                    </thead>
                                    <tbody>
                                        {% for key,value in benchmarks.0.specjvm.items %}
                                            {% if key != "build_no" and key != "details" and key != "revision" %}
                                                <tr><td>{{key}}</td><td id="{{key}}">{{value}}</td></tr>
                                                <input type="hidden" name="{{key}}" value="{{value}}"/>
                                            {% endif %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                                <table class="table-bordered">
                                    <thead>
                                        <tr><td>Ops/min (No.{{benchmarks.1.specjvm.build_no}})</td></tr>
                                    </thead>
                                    <tbody>
                                        {% for key,value in benchmarks.1.specjvm.items %}
                                            {% if key != "build_no" and key != "details" and key != "revision" %}
                                                <tr><td id="{{key}}1">{{value}}</td></tr>
                                                <input type="hidden" name="{{key}}1" value="{{value}}"/>
                                            {% endif %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <button type="submit" class="btn btn-info">Get raw data</button>
                        </form>
                    </td>
                </tr>
                <!-- DACAPO stats -->
                <tr>
                    <td><div class="plot" id="testerD" style="width:800px;height:500px;"></div></td>
                    <td>
                        <form action="{% url 'visualizer:raw' job_name 'dacapo' %}" method="post">
                            {% csrf_token %}
                            <div class = "benchmark-holder">
                                <table class="table-bordered">
                                    <thead>
                                        <tr><td>Benchmark</td><td>Msec (No.{{benchmarks.0.dacapo.build_no}})</td></tr>
                                    </thead>
                                    <tbody>
                                        {% for key,value in benchmarks.0.dacapo.items %}
                                            {% if key != "build_no" and key != "details" and key != "revision" %}
                                                <tr><td>{{key}}</td><td id="{{key}}">{{value}}</td></tr>
                                                <input type="hidden" name="{{key}}" value="{{value}}"/>
                                            {% endif %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                                <table class="table-bordered">
                                    <thead>
                                        <tr><td>Msec (No.{{benchmarks.1.dacapo.build_no}})</td></tr>
                                    </thead>
                                    <tbody>
                                        {% for key,value in benchmarks.1.dacapo.items %}
                                            {% if key != "build_no" and key != "details" and key != "revision" %}
                                                <tr><td id="{{key}}1">{{value}}</td></tr>
                                                <input type="hidden" name="{{key}}1" value="{{value}}"/>
                                            {% endif %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <button type="submit" class="btn btn-info">Get raw data</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>



        <!--</center>-->
    </body>
</html>