.table-hover > tbody > tr {
    cursor:pointer;
}

.table-bordered {
    margin-bottom: 10px;
}

div.benchmark-holder {
    display:flex;
    flex-direction: row;
}

div.page_head {
    background-color: #4d94ff;
    margin-bottom: 30px;
    padding: 15px;
    display:flex;
    flex-direction: row;
}

.plot {
    margin-bottom: 30px;
}

.separating_line {
    border_top: 5 px solid black;
}

#ModalBtn {
    margin-left:auto;
    margin-right:0;
}

.add_build{
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 8px;
}

.delete_build{
    background-color: red;
}

.padding_tbl> tbody > tr > td {
    padding: 2px;
}
